*{
    margin: 0;
    padding: 0;
}
html,body{
    overflow: hidden;
    height: 100%;
    width: 100%;
}
h3{
    display: flex;
    justify-content: center;
}
.game {
    background-image: url("https://wallpapershome.ru/images/pages/pic_h/6592.jpg");
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    font-size: 3vmin;
    background-color: orange;
    height: 10%;
    width: 80vmin;
    border-radius: 10vmin;
}
    .game .field{
        border-radius: 3vmin;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 80vmin;
        width: 80vmin;
        background-color: #BBADA0FF;
}
        .game .field .cell{
            color: #776e65;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 8vmin;
            height: 18vmin;
            width: 18vmin;
            box-sizing: border-box;
            margin: 1vmin;
            background-color: #CDC1B5FF;
            border-radius: 2vmin;
        }
header{
    display: flex;
    border-radius: 10vmin;
    font-size: 3vmin;
    height: 20%;
    width: 80vmin;
    background-color: grey;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
}
.Scores{
    display: flex;
    justify-content: space-around;
}